.exit-list {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(240;240;240;.8);
    z-index: 100000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.exit-list-group {
    position: relative;
}
